@use "/src/sass/base/variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Forum", sans-serif;
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: $light;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

.container  {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}