@use "/src/sass/base/variables.scss" as *;

.video {
    &__text {
        display: flex;
        padding-top: 75px;
        p {
            width: 720px;
            padding-left: 115px;
            font-weight: 300;
            font-size: 22px;
            line-height: 175%;
            color: $Bg-dark;
        }
    }
    &__player {
        padding-top: 75px;
    }





  &__tag {
    margin: 0 auto; 
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 24px;
    background: rgba(0, 0, 0, 0.8);
  }

  &__progress {
    flex: 1;
    height: 4px;
    background: #333;
    border-radius: 2px;
    overflow: hidden;
  }

  &__progress-fill {
    width: 30%; // пока просто заглушка
    height: 100%;
    background: #e53935;
  }

  &__sound,
  &__fullscreen {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  &__thumbs {
    margin-top: 20px;
    display: flex;
    column-gap: 16px;
  }

  &__thumb {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    flex: 0 0 200px;
  }

  &__thumb img {
    width: 100%;
    display: block;
  }
}
