@use "/src/sass/base/variables.scss" as *;


.welcome {
  min-height: 842px;
  background-color: $Bg-dark;
  --swiper-navigation-color: transparent;
  --swiper-navigation-size: 0;
    &__wrapper {
        position: relative;
    }
    &__content{
        position: absolute;
        z-index: 2;
        p {
            padding: 25px 0 75px 0;
            display: block;
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 28px;
            color: $light;
        }
    }
    &__btn {
        width: 360px;
        height: 75px;
        padding: 0 64px;
        border-radius: 10px;
        background-color: $Dark-red;
        border: none;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 1.4px;
        text-align: center;
        color: $light;
    }
    &__title {
        padding-top: 150px;
        font-weight: 400;
        font-size: 80px;
        line-height: 112%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $light;
    }
    &__swiper {
        margin-left: 440px;
    }
    &__pagination {
        position: absolute;
        right: 0;
        bottom: -50px;
        width: 600px;
        height: 120px;
        background-color:$Bg-dark;
        z-index: 2;

        display: flex;
        align-items: center;
        padding: 0 75px;
    }

     /* СЧЁТЧИК 01 | 05 */
    &__counter {
      color: $light;
      font-size: 1rem;
      white-space: nowrap;   // чтобы "01 | 05" не ломалось на две строки
    }
    .swiper-pagination {
      position: static;
      width: auto;
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      flex: 1;              // растягиваем, чтобы стрелки ушли вправо
      justify-content: center;
    }
    &__arrows {
      display: flex;
      column-gap: 30px;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: $light;
        border-radius: 0%;
        opacity: 1;
        -webkit-tap-highlight-color: transparent;   
    }
    .swiper-pagination-bullet-active {
        background-color: $Font-gold;
    }
    .arrow {
      width: 2.5rem;
      height: 2.5rem;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
    }
    .arrow::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.75rem;
      height: 2px;
      background: #fff;
      transform: translate(-50%, -50%);
    }
    .arrow-left::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 6px;
      width: 10px;
      height: 10px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: translateY(-50%) rotate(-45deg);
    }
    .arrow-right::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 6px;
      width: 10px;
      height: 10px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: translateY(-50%) rotate(45deg);
    }
}